{
  "extends": "airbnb-base",
  "env": {
      "mocha": true
  },
  "plugins": ["mocha"],
  "rules": {
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
      "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }],
      "no-underscore-dangle": "off",
      "arrow-body-style": "off",
      "consistent-return": "off",
      "arrow-parens": ["error", "always"],
      "no-console": "error",
      "mocha/no-exclusive-tests": "error",
      "no-extra-boolean-cast": "off"
  }
}
